body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: grey;
    
}

#root {
    padding:0;
    margin: 0
}

.screen {
    min-height:100vh
}

.screen.light {
    background-color: hsl(0, 0%, 98%)
}

.screen.dark {
    background-color: hsl(207, 26%, 17%)
}


header {
    display:flex;
    justify-content: space-between;
    padding:0 70px;
    font-size: 14px;
    height: 80px;
    align-items:center
}

.title {
    font-size: 1.7em;
    height:0;
    line-height:0;
    font-weight: 800;
}

.light{
    background-color: hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%)
}

.dark{
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%)
}

/* button */

button {
    border: none
}

.menu button{
    font-size:16px
}

i {
    margin: 10px;
}

/* search */

.search{
    display: flex;
    justify-content: space-between;
    padding: 0 75px;
    margin-top: 45px;
    height:60px;
}

.input-container {
    border-radius: 10px;
    display:flex;
    align-items:center;
    min-width:33%
}

.select-container{
    display:flex;
    justify-content:center;
    align-items: center;
    min-width:15%;
    border-radius: 10px;
}

select {
    border: none;
    font-size: 14px;
    width: 80%;
}


input {
    border: none;
    width: 80%;
    font-size: 14px
}

.fa-magnifying-glass {
    padding:15px
}


/* main screen */
.home-screen{
    display:grid;
    font-size: 14px
}


.home-screen-grid {
    justify-self: center;
    display:grid;
    grid-template-columns: repeat(4, 265px);
    grid-gap: 75px;
    margin: 50px auto;
}



.card {
    min-width: 100%;
    min-height: 340px;
    border-radius: 5px;
    border: none;
    justify-self: center;
}


.card img {
    width: 100%;
    height: 160px;
    border-radius: 5px 5px 0 0;
    pointer-events: none;
}

.preview-text {
    margin: 25px
}

.preview-text p {
    margin: 0.5em 0
}

h2 {
    font-weight: 800;
    pointer-events: none;
    font-size: 1.25em;
}

.field {
    font-weight: 600
}

p {
    pointer-events: none;
}

.country-detail{
    font-size: 14px
}

.country-detail button {
    height: 37px;
    border-radius: 5px;
}

.back-button {
    margin: 7% 0 0 7%;
    width: 10%
}

.detail-main-container {
    display:grid;
    grid-template-columns: 50% 50%;
    padding: 7%;
}

.detail-flag-container {
    display:flex;
    align-self:center;
}

.detail-flag-container img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    max-width: 560px
}

.detail-text {
    align-self:center;
    font-size:16px;
    margin-left: 10%
}

.detail-text-container {
    display:grid;
    grid-template-columns: auto auto;
}

.border-countries-container button {
    margin: 1%;
    min-width: 15%;
}

.fa-arrow-left {
    margin: 0 5px 0 0
}


@media only screen and (max-width: 1350px){
    .home-screen-grid {
        grid-template-columns: repeat(3, 265px);
    }
}

@media only screen and (max-width: 1000px){
    .home-screen-grid {
        grid-template-columns: repeat(2, 265px);
    }

    .detail-text-container {
        display:block;
    }

    .back-button {
        min-width: 20%
    }
}



@media only screen and (max-width: 650px){
    .home-screen-grid {
        grid-template-columns: 265px;
    }

    .detail-main-container {
        display: block;
    }

    header {
        font-size: 10px;
        padding: 0 20px;
    }

    .search {
        display: block;
        padding: 0 20px;
    }

    .select-container {
        height: 65px;
        margin-top: 10px;

    }

    .home-screen-grid {
        margin: 125px auto;
        grid-gap: 30px;
    }

    .title {
        line-height: normal;
        height: auto;
    }
}



